$blackColor: #000000;
$whiteColor: #ffffff;
$mainTextColor: #48484c;
$lightBlueColor: #29bcd0;
$darkBlueColor: #1c1c6d;
$primaryFont: "Montserrat";
html{
    overflow-x: hidden;
}
.landing-page {
  font-family: $primaryFont;
  .main-header {
    position: sticky;
    top: 0;
    z-index: 9;
    background: #ffffff;
    .header-wrapper {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        max-width: 120px;
        i {
          display: inline-block;
          width: 116px;
          height: 19px;
          margin-top: 10px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='116' height='19' viewBox='0 0 116 19' fill='none'%3E%3Cpath d='M8.6 11.9C8.1 12.5 7.5 13 6.9 13.3C6.3 13.7 5.4 13.8 4.4 13.8C3.8 13.8 3.3 13.7 2.7 13.6C2.2 13.5 1.7 13.2 1.3 12.9C0.9 12.6 0.6 12.2 0.4 11.7C0.2 11.2 0 10.6 0 9.9C0 9 0.2 8.3 0.6 7.7C1 7.1 1.5 6.7 2.2 6.4C2.9 6.1 3.6 5.9 4.4 5.7C5.2 5.6 6 5.5 6.9 5.5L8.6 5.4V4.7C8.6 3.9 8.4 3.4 7.9 3C7.5 2.7 6.9 2.6 6.3 2.6C4.9 2.6 4.1 3.1 3.9 4.2L0.7 3.9C0.9 2.5 1.5 1.5 2.5 0.9C3.5 0.3 4.8 0 6.4 0C7.4 0 8.2 0.0999996 8.9 0.4C9.6 0.6 10.2 1 10.6 1.4C11 1.8 11.3 2.4 11.5 3C11.7 3.6 11.8 4.4 11.8 5.2V13.5H8.6V11.9ZM8.5 7.7L6.9 7.8C6.2 7.8 5.6 7.9 5.1 8C4.6 8.1 4.3 8.3 4.1 8.4C3.9 8.6 3.7 8.8 3.6 9C3.5 9.2 3.5 9.5 3.5 9.8C3.5 10.2 3.7 10.6 4 10.8C4.3 11 4.7 11.2 5.2 11.2C6.1 11.2 6.8 11 7.4 10.6C7.7 10.4 8 10.1 8.2 9.7C8.4 9.3 8.5 8.9 8.5 8.4V7.7Z' fill='%2329BCD0'/%3E%3Cpath d='M26.6 8.8001C26.5 10.4001 25.9 11.6001 25 12.5001C24.1 13.4001 22.6 13.9001 20.8 13.9001C19.7 13.9001 18.8 13.7001 18 13.4001C17.2 13.1001 16.5 12.6001 16 12.0001C15.5 11.4001 15.1 10.7001 14.9 9.8001C14.7 8.9001 14.5 8.0001 14.5 7.0001C14.5 6.0001 14.6 5.0001 14.9 4.2001C15.2 3.3001 15.6 2.6001 16.2 2.0001C16.8 1.4001 17.4 0.900098 18.2 0.600098C19 0.300098 19.9 0.100098 21 0.100098C21.9 0.100098 22.7 0.200097 23.3 0.400097C24 0.600097 24.5 0.900097 25 1.3001C25.5 1.7001 25.8 2.2001 26 2.7001C26.2 3.2001 26.4 3.9001 26.5 4.5001L23 5.0001C22.9 4.3001 22.7 3.8001 22.4 3.4001C22.1 3.0001 21.6 2.8001 20.9 2.8001C20.4 2.8001 19.9 2.9001 19.6 3.1001C19.2 3.3001 19 3.6001 18.8 4.0001C18.6 4.4001 18.4 4.8001 18.4 5.3001C18.3 5.8001 18.3 6.3001 18.3 6.8001C18.3 7.3001 18.3 7.9001 18.4 8.4001C18.5 8.9001 18.6 9.3001 18.8 9.7001C19 10.1001 19.3 10.4001 19.6 10.6001C20 10.8001 20.4 10.9001 20.9 10.9001C21.6 10.9001 22.1 10.7001 22.5 10.3001C22.9 9.9001 23.1 9.3001 23.2 8.6001H26.6V8.8001Z' fill='%2329BCD0'/%3E%3Cpath d='M38.1 11.9C37.7 12.6 37.1 13.1 36.3 13.4C35.6 13.7 34.9 13.9 34.1 13.9C32.2 13.9 30.9 13.3 30 12C29.1 10.8 28.6 9.1 28.6 6.9C28.6 5.9 28.7 5 29 4.1C29.3 3.3 29.6 2.5 30.1 1.9C30.6 1.3 31.2 0.8 31.9 0.5C32.6 0.2 33.4 0 34.3 0C35 0 35.7 0.0999996 36.3 0.4C37 0.7 37.6 1.2 38.1 1.9V0.4H41.5V18.3H38V11.9H38.1ZM38.1 6.8C38.1 6 38 5.3 37.9 4.8C37.8 4.3 37.5 3.9 37.2 3.6C36.9 3.3 36.6 3.1 36.2 3C35.8 2.9 35.5 2.9 35.1 2.9C34.7 2.9 34.4 3 34 3.1C33.7 3.3 33.4 3.5 33.1 3.8C32.8 4.1 32.6 4.5 32.5 5.1C32.3 5.6 32.3 6.2 32.3 7C32.3 7.8 32.4 8.4 32.5 9C32.6 9.5 32.8 10 33.1 10.3C33.4 10.6 33.6 10.9 34 11C34.3 11.1 34.7 11.2 35.1 11.2C35.9 11.2 36.6 11 37.2 10.5C37.5 10.2 37.8 9.8 37.9 9.3C38.1 8.8 38.1 8.2 38.1 7.5V6.8Z' fill='%2329BCD0'/%3E%3Cpath d='M44.5 0.5H48V8.6C48 9.5 48.2 10.2 48.5 10.5C48.8 10.8 49.3 11 49.9 11C50.4 11 50.7 10.9 51 10.8C51.3 10.7 51.6 10.5 51.8 10.2C52.1 10 52.3 9.7 52.4 9.4C52.5 9.1 52.6 8.7 52.6 8.3V0.5H56.1V13.5H52.7V11.7C52.2 12.5 51.6 13 50.9 13.4C50.2 13.7 49.5 13.9 48.7 13.9C47.2 13.9 46.1 13.5 45.4 12.7C44.7 11.9 44.3 10.7 44.3 9V0.5H44.5Z' fill='%2329BCD0'/%3E%3Cpath d='M67.1 11.9C66.6 12.5 66 13 65.4 13.3C64.8 13.7 63.9 13.8 62.9 13.8C62.3 13.8 61.8 13.7 61.2 13.6C60.7 13.5 60.2 13.2 59.8 12.9C59.4 12.6 59.1 12.2 58.9 11.7C58.7 11.2 58.6 10.6 58.6 9.9C58.6 9 58.8 8.3 59.2 7.7C59.6 7.1 60.1 6.7 60.8 6.4C61.5 6.1 62.2 5.9 63 5.7C63.8 5.6 64.6 5.5 65.5 5.5L67.2 5.4V4.7C67.2 3.9 67 3.4 66.5 3C66.1 2.7 65.5 2.6 64.9 2.6C63.5 2.6 62.7 3.1 62.5 4.2L59.3 3.9C59.5 2.5 60.1 1.5 61.1 0.9C62.1 0.3 63.4 0 65 0C66 0 66.9 0.0999996 67.6 0.4C68.3 0.6 68.9 1 69.3 1.4C69.7 1.9 70 2.4 70.2 3C70.4 3.6 70.5 4.4 70.5 5.2V13.5H67.2V11.9H67.1ZM67 7.7L65.5 7.8C64.8 7.8 64.2 7.9 63.7 8C63.3 8.1 62.9 8.3 62.7 8.4C62.5 8.6 62.3 8.8 62.2 9C62.1 9.2 62.1 9.5 62.1 9.8C62.1 10.2 62.2 10.6 62.6 10.8C62.9 11 63.3 11.2 63.8 11.2C64.7 11.2 65.4 11 66 10.6C66.3 10.4 66.6 10.1 66.8 9.7C67 9.3 67.1 8.9 67.1 8.4V7.7H67Z' fill='%2329BCD0'/%3E%3Cpath d='M73.4 0.500097H76.8V2.2001C77.8 0.800097 79.2 0.100098 80.9 0.100098C82.7 0.100098 84.1 0.700097 85 2.0001C85.9 3.2001 86.3 4.9001 86.3 7.1001C86.3 8.1001 86.2 9.1001 85.9 9.9001C85.6 10.8001 85.3 11.5001 84.8 12.1001C84.3 12.7001 83.7 13.2001 83 13.5001C82.3 13.8001 81.5 14.0001 80.6 14.0001C79.9 14.0001 79.3 13.9001 78.7 13.7001C78.1 13.5001 77.5 13.0001 76.9 12.3001V18.5001H73.4V0.500097ZM76.8 7.1001C76.8 8.0001 76.9 8.6001 77 9.1001C77.1 9.6001 77.4 10.0001 77.7 10.3001C78 10.6001 78.4 10.8001 78.7 10.9001C79 11.0001 79.4 11.0001 79.7 11.0001C80.1 11.0001 80.5 10.9001 80.8 10.8001C81.1 10.6001 81.5 10.4001 81.7 10.1001C82 9.8001 82.2 9.4001 82.3 8.8001C82.5 8.3001 82.5 7.7001 82.5 6.9001C82.5 6.1001 82.4 5.5001 82.3 5.0001C82.2 4.5001 82 4.1001 81.7 3.7001C81.4 3.3001 81.2 3.1001 80.8 3.0001C80.5 2.9001 80.1 2.8001 79.7 2.8001C79.3 2.8001 78.9 2.9001 78.6 3.0001C78.3 3.1001 78 3.3001 77.7 3.6001C77.4 3.9001 77.1 4.3001 77 4.8001C76.8 5.3001 76.8 5.9001 76.8 6.7001V7.1001Z' fill='%23202267'/%3E%3Cpath d='M96.7 11.9C96.2 12.5 95.6 13 95 13.3C94.4 13.7 93.5 13.8 92.5 13.8C91.9 13.8 91.4 13.7 90.8 13.6C90.3 13.5 89.8 13.2 89.4 12.9C89 12.6 88.7 12.2 88.5 11.7C88.3 11.2 88.1 10.6 88.1 9.9C88.1 9 88.3 8.3 88.7 7.7C89.1 7.1 89.6 6.7 90.3 6.4C91 6.1 91.7 5.9 92.5 5.7C93.3 5.6 94.1 5.5 95 5.5L96.7 5.4V4.7C96.7 3.9 96.5 3.4 96 3C95.6 2.7 95 2.6 94.4 2.6C93 2.6 92.2 3.1 92 4.2L88.8 3.9C89 2.5 89.6 1.5 90.6 0.9C91.6 0.3 92.9 0 94.5 0C95.5 0 96.3 0.0999996 97 0.4C97.7 0.6 98.3 1 98.7 1.4C99.1 1.8 99.4 2.4 99.6 3C99.8 3.6 99.9 4.4 99.9 5.2V13.5H96.6V11.9H96.7ZM96.6 7.7L95 7.8C94.3 7.8 93.7 7.9 93.2 8C92.7 8.1 92.4 8.3 92.2 8.4C92 8.6 91.8 8.8 91.7 9C91.6 9.2 91.6 9.5 91.6 9.8C91.6 10.2 91.8 10.6 92.1 10.8C92.4 11 92.8 11.2 93.3 11.2C94.2 11.2 94.9 11 95.5 10.6C95.8 10.4 96.1 10.1 96.3 9.7C96.5 9.3 96.6 8.9 96.6 8.4V7.7Z' fill='%23202267'/%3E%3Cpath d='M103.3 15.4C103.8 15.5 104.3 15.6 104.8 15.6C105.3 15.6 105.6 15.5 105.9 15.3C106.2 15.1 106.4 14.7 106.6 14.1L107 13L101.6 0.5H105.6L108.6 9.1L111.4 0.5H115.2L109.9 13.9C109.6 14.7 109.3 15.3 109 15.9C108.7 16.5 108.4 16.9 108.1 17.3C107.8 17.7 107.3 18 106.9 18.1C106.4 18.3 105.8 18.4 105.1 18.4C104.7 18.4 104.2 18.4 103.8 18.3C103.4 18.2 102.9 18.1 102.5 18L103.3 15.4Z' fill='%23202267'/%3E%3C/svg%3E");
        }
      }
      .main-navbar {
        display: flex;
        width: 50%;
        justify-content: space-around;
        @media screen and (max-width: 767px) {
          display: none;
        }
        
        .navbar-item {
          font: {
            size: 16px;
            weight: 400;
          }
          text-decoration: none;
          color: $blackColor;

          &:hover {
            color: #2aa9de;
          }
          @media screen and (max-width: 992px) and (min-width: 768px) {
            font-size: 13px;
           }
        }
      }
      .lets-talk-btn {
        display: block;
        width: 175px;
        height: 30px;
        color: $darkBlueColor;
        line-height: 30px;
        font: {
          size: 15px;
          weight: 700;
        }
        float: left;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        border: 1.5px solid $darkBlueColor;
        &:hover {
          background: $darkBlueColor;
          color: $whiteColor;
        }
      }
    }
  }
  .banner-section {
    position: relative;
    .banner {
      height: 669px;
      background-image: url("../images/banner.png");
      background-size: cover;
      background-repeat: no-repeat;
      .heading-overlay {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 117px;
        @media screen and (max-width: 767px) {
          transform: translatey(-50%) translateX(-50%);
          left: 50%;
        }
        @media screen and (max-width: 810px) and (min-width: 768px) {
           left: 65px;
          }
        .banner-heading {
          width: 690px;
          margin-bottom: 20px;
          font-size: 55px;
          font-weight: 600;
          color: $whiteColor;
          letter-spacing: 0.0025em;
          @media screen and (max-width: 767px) {
            width: 290px;
          }
        }
        p {
          width: 588px;
          font-size: 16px;
          color: $whiteColor;
          margin-bottom: 35px;
          @media screen and (max-width: 767px) {
            width: 288px;
          }
        }
        .contact-us-btn-banner {
          display: block;
          width: 176px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          float: left;
          text-decoration: none;
          color: $whiteColor;
          text-transform: uppercase;
          border: 1.5px solid $whiteColor;
          cursor: pointer;
          font: {
            size: 15px;
            weight: 700;
          }
          &:hover {
            background: $whiteColor;
            color: $darkBlueColor;
          }
        }
      }
    }
  }
  .introduction-section {
    .introduction-detail {
      padding: 130px 0;
      color: $mainTextColor;
      letter-spacing: 0.5px;
      text-align: center;
      cursor: default;
      font: {
        size: 25px;
        weight: 500;
      }
    }
    .pictorial-description {
      padding-bottom: 110px;
      @media screen and (max-width: 767px) {
        padding-bottom: 35px;
      }
      .row {
        align-items: center;
        .left-content-pictorial-description {
          h2 {
            color: $lightBlueColor;
            font: {
              size: 31px;
              weight: 700;
            }
          }
          p {
            color: $mainTextColor;
            letter-spacing: 0.5px;
            font: {
              size: 16px;
              weight: 400;
            }
          }
        }
        .right-content-pictorial-description {
          .img-wrapper {
            width: 588px;
            height: 380px;
            @media screen and (max-width: 767px) {
              width: 100%;
              height: auto;
            }
            @media screen and (max-width: 1199px) and (min-width: 768px) {
              width: 100%;
              height: auto;
            }
            .bg-image {
              background-image: url("../images/business-partners.png");
              background-size: contain;
              @media screen and (max-width: 767px) {
                width: 100%;
              }
              @media screen and (max-width: 1199px) and (min-width: 768px) {
                width: 100%;
                height: auto;
              }
              img {
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                @media screen and (max-width: 1199px) and (min-width: 768px) {
                    width: 100%;
                    height: auto;
                  }
              }
            }
          }
        }
      }
    }
  }
  .payment-method-section {
    padding: 76px 0 90px 0;
    margin-bottom: 176px;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 767px){
        margin-bottom: 35px;
       }
    .payment-method-heading {
      color: $mainTextColor;
      text-align: center;
      font: {
        size: 31px;
        weight: 600;
      }
      padding-bottom: 65px;
    }
    .custom-row {
      align-items: center;
      .img-item {
        position: relative;
        padding: 25px 0;
        min-height: 121px;
        cursor: pointer;
        text-align: center;
        @media screen and (max-width: 767px) {
          text-align: center;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          //   top: 0;
          bottom: 0;
          height: 110%;
          background: rgba(1, 65, 126, 0.1);
          right: 0;
          @media screen and (max-width: 992px) {
            display: none;
          }
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        img{
            @media screen and (max-width: 992px) and (min-width:768px) {
                max-width: 100px;
              }
        }
      }
    }
  }
  .why-acqua-pay-section {
    .why-acqua-pay-introduction {
      .why-acqua-pay-img-holder {
        position: relative;
        text-align: right;
        margin-top: 23px;
        @media screen and (max-width: 767px) {
            margin-bottom: 35px;
          }
        .moved-image {
          position: absolute;
          top: -73px;
          left: -45px;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        img{
            @media screen and (max-width: 767px) {
                width: 100%;
              }
        }
      }
      .why-acquapay-right-content {
        .content-wrapper {
          width: 80%;
          margin: auto;
          h3 {
            margin-bottom: 30px;
            color: $lightBlueColor;
            font: {
              size: 48px;
              weight: 600;
            }
          }
          ul {
            list-style: none;
            padding-left: 80px;
            li {
              position: relative;
              margin-bottom: 50px;
              color: $mainTextColor;
              font: {
                size: 16px;
                weight: 400;
              }
              &.first {
                &:before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: -73px;
                  width: 50px;
                  height: 50px;
                  background-image: url("../images/Component-1.jpg");
                }
              }
              &.second {
                &:before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: -73px;
                  width: 50px;
                  height: 50px;
                  background-image: url("../images/Component-2.jpg");
                }
              }
              &.third {
                &:before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: -73px;
                  width: 50px;
                  height: 50px;
                  background-image: url("../images/Component-3.jpg");
                }
              }
              &.fourth {
                &:before {
                  content: "";
                  position: absolute;
                  top: -10px;
                  left: -73px;
                  width: 50px;
                  height: 50px;
                  background-image: url("../images/Component-4.jpg");
                }
              }
            }
          }
        }
      }
    }
  }
  .local-payment-solution {
    padding-top: 100px;
    padding-bottom: 130px;
    @media screen and (max-width: 767px) {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    .local-payment-left-content {
      h4 {
        max-width: 380px;
        color: $lightBlueColor;
        text-align: right;
        font: {
          size: 31px;
          weight: 600;
        }
        @media screen and (max-width: 767px) {
            text-align: left;
          }
      }
      p {
        color: $blackColor;
        line-height: 20.8px;
        font: {
          size: 16px;
          weight: 400;
        }
      }
      ul {
        padding-left: 80px;
        list-style: none;
        li {
          position: relative;
          color: $mainTextColor;
          font: {
            size: 16px;
            weight: 700;
          }
          &:before {
            content: "";
            position: absolute;
            top: 6px;
            left: -50px;
            width: 19px;
            height: 10px;
            background-image: url("../images/arrow-blue.png");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .acqua-pay-focus {
    padding-bottom: 130px;
    .focus-acquapay-left-content {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 370px;
        background: linear-gradient(
          308.67deg,
          #2aa9de 20.94%,
          rgba(42, 169, 222, 0.991477) 20.95%,
          rgba(41, 188, 208, 0) 116.1%
        );
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      .img-wrapper {
        position: relative;
        padding: 40px 73px 50px 50px;
        @media screen and (max-width: 767px) {
            padding: 40px 50px 20px 40px;
          }
        p {
          color: $whiteColor;
          line-height: 20.8px;
          font: {
            size: 16px;
            weight: 500;
          }
          
        }
        h2 {
          margin-bottom: 35px;
          max-width: 400px;
          color: $whiteColor;
          line-height: 58.1px;
          font: {
            size: 48px;
            weight: 600;
          }
          @media screen and (max-width: 767px) {
            font-size: 34px;
            line-height: 40.1px;
          }
        }
        ul {
            padding-left: 55px;
          list-style: none;
          li {
              position: relative;
            color: $whiteColor;
            line-height: 26px;
            letter-spacing: 0.5px;
            font: {
              size: 20px;
              weight: 600;
            }
            @media screen and (max-width: 767px) {
                line-height: 20px;
                font-size: 16px;
              }
            &:before {
                content: "";
        position: absolute;
        top: 6px;
        left: -50px;
        width: 19px;
        height: 10px;
                background-image: url("../images/arrow-white.png");
                background-repeat: no-repeat;
              }
          }
        }
      }
    }
    .focus-acquapay-right-content {
        @media screen and (max-width: 767px) {
            padding: 0;
          }
      .content-wrapper {
        width: 80%;
        padding: 40px 40px 0;
        margin: auto;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
        @media screen and (max-width: 767px) {
            width: 100%;
          }
        h2 {
          margin-bottom: 25px;
          color: $mainTextColor;
          letter-spacing: 0.5px;
          font: {
            size: 31px;
            weight: 500;
          }
        }
        ul {
          padding-left: 80px;
          list-style: none;
          li {
            position: relative;
            color: $blackColor;
            line-height: 20.8px;
            letter-spacing: 0.5px;
            padding-bottom: 30px;
            font: {
              size: 16px;
              weight: 400;
            }
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: -50px;
              width: 17px;
              height: 17px;
              background-image: url("../images/circle-tick.png");
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
  .payment-gateway-section {
    margin-bottom: 130px;
    @media screen and (max-width: 767px) {
        margin-bottom: 35px;
      }
    h2 {
      margin-bottom: 50px;
      color: $lightBlueColor;
      text-align: center;
      font: {
        size: 31px;
        weight: 700;
      }
    }
    .custom-row {
      .payment-item {
        .content-item {
            position: relative;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          margin: auto;
          &:before{
              content: '';
              position: absolute;
              left: -100px;
              width: 1px;
              height: 65%;
              bottom: 0;
              background: rgba(1, 65, 126, 0.1);

          }
          i {
            margin-bottom: 20px;
            display: inline-block;
            width: 112px;
            height: 112px;
            background-size: 100%;
            background-repeat: no-repeat;
          }
          h5 {
            margin-bottom: 15px;
            letter-spacing: 0.5px;
            text-align: center;
            color: $mainTextColor;
            font: {
              size: 20px;
              weight: 600;
            }
          }
          p {
            letter-spacing: 0.5px;
            text-align: center;
            line-height: 20.8px;
            color: $blackColor;
            cursor: default;
            font: {
              size: 16px;
              weight: 400;
            }
          }
          &.api-item {
            i {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='112' viewBox='0 0 112 112' fill='none'%3E%3Ccircle cx='56' cy='56' r='56' fill='%2329BCD0'/%3E%3Cpath d='M79.8333 24H32.1667C29.7355 24 27.4039 24.9658 25.6849 26.6849C23.9658 28.4039 23 30.7355 23 33.1667V66.1667C23 68.5978 23.9658 70.9294 25.6849 72.6485C27.4039 74.3676 29.7355 75.3333 32.1667 75.3333H45V80.8333H43.1667C41.2217 80.8333 39.3565 81.606 37.9812 82.9812C36.606 84.3565 35.8333 86.2217 35.8333 88.1667C35.8333 88.6529 36.0265 89.1192 36.3703 89.463C36.7141 89.8068 37.1804 90 37.6667 90H74.3333C74.8196 90 75.2859 89.8068 75.6297 89.463C75.9735 89.1192 76.1667 88.6529 76.1667 88.1667C76.1667 86.2217 75.3941 84.3565 74.0188 82.9812C72.6435 81.606 70.7783 80.8333 68.8333 80.8333H67V75.3333H79.8333C82.2645 75.3333 84.5961 74.3676 86.3151 72.6485C88.0342 70.9294 89 68.5978 89 66.1667V33.1667C89 30.7355 88.0342 28.4039 86.3151 26.6849C84.5961 24.9658 82.2645 24 79.8333 24ZM32.1667 27.6667H79.8333C81.292 27.6667 82.691 28.2461 83.7224 29.2776C84.7539 30.309 85.3333 31.708 85.3333 33.1667V62.5H26.6667V33.1667C26.6667 31.708 27.2461 30.309 28.2776 29.2776C29.309 28.2461 30.708 27.6667 32.1667 27.6667ZM72.005 86.3333H39.995C40.3165 85.7765 40.7788 85.314 41.3355 84.9922C41.8922 84.6704 42.5237 84.5007 43.1667 84.5H68.8333C69.4763 84.5007 70.1078 84.6704 70.6645 84.9922C71.2212 85.314 71.6835 85.7765 72.005 86.3333ZM63.3333 80.8333H48.6667V75.3333H63.3333V80.8333ZM79.8333 71.6667H32.1667C30.708 71.6667 29.309 71.0872 28.2776 70.0558C27.2461 69.0243 26.6667 67.6254 26.6667 66.1667H85.3333C85.3333 67.6254 84.7539 69.0243 83.7224 70.0558C82.691 71.0872 81.292 71.6667 79.8333 71.6667Z' fill='white'/%3E%3Cpath d='M38.5832 58.8333C39.7007 58.8395 40.8003 58.552 41.7717 57.9996C42.7432 57.4472 43.5526 56.6494 44.1188 55.6859C44.685 54.7224 44.9882 53.6271 44.998 52.5096C45.0079 51.3921 44.724 50.2916 44.1749 49.3183L44.4682 49.135L47.9149 45.67C48.9836 46.11 50.1828 46.11 51.2515 45.67L54.2582 48.695C54.1996 49.0156 54.1689 49.3407 54.1665 49.6666C54.1665 51.1253 54.746 52.5243 55.7775 53.5557C56.8089 54.5872 58.2078 55.1666 59.6665 55.1666C61.1252 55.1666 62.5242 54.5872 63.5556 53.5557C64.5871 52.5243 65.1665 51.1253 65.1665 49.6666C65.1642 49.3407 65.1335 49.0156 65.0749 48.695L68.7415 45.0283C69.88 45.6944 71.1812 46.0308 72.4999 46C73.9503 46 75.3681 45.5699 76.5741 44.7641C77.78 43.9583 78.7199 42.813 79.275 41.473C79.83 40.133 79.9753 38.6585 79.6923 37.236C79.4093 35.8135 78.7109 34.5068 77.6853 33.4812C76.6597 32.4556 75.3531 31.7572 73.9305 31.4742C72.508 31.1913 71.0335 31.3365 69.6935 31.8915C68.3535 32.4466 67.2082 33.3865 66.4024 34.5925C65.5966 35.7984 65.1665 37.2163 65.1665 38.6667C65.1692 39.9595 65.5241 41.2271 66.1932 42.3333L63.1315 45.395C62.1623 44.5768 60.9349 44.128 59.6665 44.128C58.3982 44.128 57.1707 44.5768 56.2015 45.395L53.8365 43.0483C54.1158 42.3528 54.2202 41.5994 54.1406 40.8541C54.0611 40.1088 53.8 39.3944 53.3802 38.7735C52.9604 38.1526 52.3947 37.6441 51.7327 37.2926C51.0708 36.9411 50.3327 36.7573 49.5832 36.7573C48.8337 36.7573 48.0956 36.9411 47.4337 37.2926C46.7717 37.6441 46.206 38.1526 45.7863 38.7735C45.3665 39.3944 45.1053 40.1088 45.0258 40.8541C44.9462 41.5994 45.0506 42.3528 45.3299 43.0483L41.8649 46.495C41.7972 46.5885 41.736 46.6865 41.6815 46.7883C40.8268 46.3331 39.88 46.0778 38.9123 46.0417C37.9446 46.0056 36.9813 46.1897 36.0951 46.5799C35.2089 46.9702 34.4228 47.5566 33.7961 48.2948C33.1694 49.033 32.7184 49.9038 32.4772 50.8417C32.2359 51.7795 32.2107 52.7599 32.4034 53.7089C32.5961 54.6578 33.0017 55.5507 33.5896 56.3202C34.1775 57.0897 34.9324 57.7156 35.7974 58.151C36.6624 58.5863 37.6149 58.8196 38.5832 58.8333ZM72.4999 35C73.2251 35 73.934 35.215 74.537 35.6179C75.1399 36.0208 75.6099 36.5935 75.8874 37.2635C76.165 37.9335 76.2376 38.6707 76.0961 39.382C75.9546 40.0932 75.6054 40.7466 75.0926 41.2594C74.5798 41.7722 73.9265 42.1214 73.2152 42.2629C72.5039 42.4043 71.7667 42.3317 71.0967 42.0542C70.4267 41.7767 69.854 41.3067 69.4512 40.7037C69.0483 40.1008 68.8332 39.3918 68.8332 38.6667C68.8332 37.6942 69.2195 36.7616 69.9072 36.0739C70.5948 35.3863 71.5274 35 72.4999 35ZM59.6665 47.8333C60.0291 47.8333 60.3836 47.9408 60.6851 48.1423C60.9866 48.3437 61.2216 48.6301 61.3603 48.9651C61.4991 49.3001 61.5354 49.6687 61.4646 50.0243C61.3939 50.3799 61.2193 50.7066 60.9629 50.963C60.7065 51.2194 60.3798 51.394 60.0242 51.4648C59.6686 51.5355 59.3 51.4992 58.965 51.3604C58.63 51.2217 58.3436 50.9867 58.1422 50.6852C57.9407 50.3837 57.8332 50.0292 57.8332 49.6666C57.8332 49.1804 58.0264 48.7141 58.3702 48.3703C58.714 48.0265 59.1803 47.8333 59.6665 47.8333ZM49.5832 40.5C49.7645 40.5 49.9417 40.5537 50.0925 40.6545C50.2432 40.7552 50.3607 40.8984 50.4301 41.0659C50.4995 41.2334 50.5176 41.4177 50.4823 41.5955C50.4469 41.7733 50.3596 41.9366 50.2314 42.0648C50.1032 42.193 49.9399 42.2803 49.762 42.3157C49.5842 42.3511 49.3999 42.3329 49.2324 42.2635C49.0649 42.1942 48.9217 42.0767 48.821 41.9259C48.7203 41.7752 48.6665 41.5979 48.6665 41.4166C48.6665 41.1735 48.7631 40.9404 48.935 40.7685C49.1069 40.5966 49.3401 40.5 49.5832 40.5ZM38.5832 49.6666C39.1271 49.6666 39.6588 49.8279 40.111 50.1301C40.5633 50.4323 40.9157 50.8618 41.1239 51.3643C41.332 51.8668 41.3865 52.4197 41.2804 52.9531C41.1743 53.4866 40.9123 53.9766 40.5277 54.3612C40.1432 54.7458 39.6532 55.0077 39.1197 55.1138C38.5863 55.2199 38.0333 55.1655 37.5308 54.9573C37.0283 54.7492 36.5988 54.3967 36.2967 53.9445C35.9945 53.4922 35.8332 52.9605 35.8332 52.4166C35.8332 51.6873 36.1229 50.9878 36.6387 50.4721C37.1544 49.9564 37.8539 49.6666 38.5832 49.6666Z' fill='white'/%3E%3C/svg%3E");
            }
          }
          &.support-item {
            i {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='112' viewBox='0 0 112 112' fill='none'%3E%3Ccircle cx='56' cy='56' r='56' fill='%2329BCD0'/%3E%3Cpath d='M40.8889 33.3333V29.5556C40.8889 27.5517 40.0929 25.6299 38.6759 24.213C37.259 22.796 35.3372 22 33.3333 22C31.3295 22 29.4077 22.796 27.9907 24.213C26.5738 25.6299 25.7778 27.5517 25.7778 29.5556V33.3333C25.7778 35.3372 26.5738 37.259 27.9907 38.6759C29.4077 40.0929 31.3295 40.8889 33.3333 40.8889C35.3372 40.8889 37.259 40.0929 38.6759 38.6759C40.0929 37.259 40.8889 35.3372 40.8889 33.3333ZM37.1111 33.3333C37.1111 34.3353 36.7131 35.2962 36.0046 36.0046C35.2961 36.7131 34.3353 37.1111 33.3333 37.1111C32.3314 37.1111 31.3705 36.7131 30.662 36.0046C29.9536 35.2962 29.5555 34.3353 29.5555 33.3333V29.5556C29.5555 28.5536 29.9536 27.5927 30.662 26.8843C31.3705 26.1758 32.3314 25.7778 33.3333 25.7778C34.3353 25.7778 35.2961 26.1758 36.0046 26.8843C36.7131 27.5927 37.1111 28.5536 37.1111 29.5556V33.3333Z' fill='white'/%3E%3Cpath d='M44.6667 63.5556V50.3333C44.6667 47.8285 43.6716 45.4263 41.9005 43.6551C40.1293 41.8839 37.727 40.8889 35.2222 40.8889H31.4444C28.9396 40.8889 26.5374 41.8839 24.7662 43.6551C22.995 45.4263 22 47.8285 22 50.3333V63.5556C22 64.0565 22.199 64.537 22.5532 64.8912C22.9075 65.2454 23.3879 65.4444 23.8889 65.4444H42.7778C43.2787 65.4444 43.7592 65.2454 44.1134 64.8912C44.4677 64.537 44.6667 64.0565 44.6667 63.5556ZM40.8889 61.6667H25.7778V50.3333C25.7778 48.8304 26.3748 47.3891 27.4375 46.3264C28.5002 45.2637 29.9416 44.6667 31.4444 44.6667C30.9435 44.6667 30.463 44.8657 30.1088 45.2199C29.7546 45.5741 29.5556 46.0546 29.5556 46.5556C29.5556 47.0565 29.7546 47.537 30.1088 47.8912C30.463 48.2454 30.9435 48.4444 31.4444 48.4444V56C31.4444 56.501 31.6435 56.9814 31.9977 57.3356C32.3519 57.6899 32.8324 57.8889 33.3333 57.8889C33.8343 57.8889 34.3147 57.6899 34.669 57.3356C35.0232 56.9814 35.2222 56.501 35.2222 56V48.4444C35.7232 48.4444 36.2036 48.2454 36.5579 47.8912C36.9121 47.537 37.1111 47.0565 37.1111 46.5556C37.1111 46.0546 36.9121 45.5741 36.5579 45.2199C36.2036 44.8657 35.7232 44.6667 35.2222 44.6667C36.7251 44.6667 38.1665 45.2637 39.2292 46.3264C40.2919 47.3891 40.8889 48.8304 40.8889 50.3333V61.6667Z' fill='white'/%3E%3Cpath d='M86.2222 57.8889V54.1111C86.2222 52.1072 85.4262 50.1855 84.0093 48.7685C82.5923 47.3516 80.6705 46.5555 78.6667 46.5555C76.6628 46.5555 74.741 47.3516 73.3241 48.7685C71.9071 50.1855 71.1111 52.1072 71.1111 54.1111V57.8889C71.1111 59.8927 71.9071 61.8145 73.3241 63.2315C74.741 64.6484 76.6628 65.4444 78.6667 65.4444C80.6705 65.4444 82.5923 64.6484 84.0093 63.2315C85.4262 61.8145 86.2222 59.8927 86.2222 57.8889ZM82.4444 57.8889C82.4444 58.8908 82.0464 59.8517 81.338 60.5602C80.6295 61.2686 79.6686 61.6667 78.6667 61.6667C77.6647 61.6667 76.7038 61.2686 75.9954 60.5602C75.2869 59.8517 74.8889 58.8908 74.8889 57.8889V54.1111C74.8889 53.1092 75.2869 52.1483 75.9954 51.4398C76.7038 50.7313 77.6647 50.3333 78.6667 50.3333C79.6686 50.3333 80.6295 50.7313 81.338 51.4398C82.0464 52.1483 82.4444 53.1092 82.4444 54.1111V57.8889Z' fill='white'/%3E%3Cpath d='M80.5555 65.4445H76.7778C74.273 65.4445 71.8707 66.4395 70.0995 68.2107C68.3284 69.9818 67.3333 72.3841 67.3333 74.8889V88.1111C67.3333 88.6121 67.5323 89.0925 67.8866 89.4468C68.2408 89.801 68.7213 90 69.2222 90H88.1111C88.6121 90 89.0925 89.801 89.4468 89.4468C89.801 89.0925 90 88.6121 90 88.1111V74.8889C90 72.3841 89.005 69.9818 87.2338 68.2107C85.4626 66.4395 83.0604 65.4445 80.5555 65.4445ZM86.2222 86.2222H71.1111V74.8889C71.1111 73.386 71.7081 71.9447 72.7708 70.882C73.8335 69.8193 75.2749 69.2222 76.7778 69.2222C76.2768 69.2222 75.7964 69.4212 75.4421 69.7755C75.0879 70.1297 74.8889 70.6102 74.8889 71.1111C74.8889 71.6121 75.0879 72.0925 75.4421 72.4468C75.7964 72.801 76.2768 73 76.7778 73V80.5556C76.7778 81.0565 76.9768 81.537 77.331 81.8912C77.6852 82.2455 78.1657 82.4445 78.6667 82.4445C79.1676 82.4445 79.6481 82.2455 80.0023 81.8912C80.3565 81.537 80.5555 81.0565 80.5555 80.5556V73C81.0565 73 81.537 72.801 81.8912 72.4468C82.2454 72.0925 82.4444 71.6121 82.4444 71.1111C82.4444 70.6102 82.2454 70.1297 81.8912 69.7755C81.537 69.4212 81.0565 69.2222 80.5555 69.2222C82.0584 69.2222 83.4998 69.8193 84.5625 70.882C85.6252 71.9447 86.2222 73.386 86.2222 74.8889V86.2222Z' fill='white'/%3E%3Cpath d='M61.6666 84.3331H42.7777C40.7738 84.3331 38.852 83.5371 37.4351 82.1202C36.0181 80.7032 35.2221 78.7814 35.2221 76.7776V75.6631L35.7699 76.2298C35.9455 76.4068 36.1544 76.5474 36.3846 76.6433C36.6148 76.7392 36.8616 76.7885 37.111 76.7885C37.3604 76.7885 37.6072 76.7392 37.8374 76.6433C38.0676 76.5474 38.2765 76.4068 38.4521 76.2298C38.6292 76.0542 38.7697 75.8453 38.8656 75.6151C38.9615 75.3849 39.0108 75.138 39.0108 74.8887C39.0108 74.6393 38.9615 74.3925 38.8656 74.1623C38.7697 73.9321 38.6292 73.7232 38.4521 73.5476L34.6743 69.7698C34.4947 69.5978 34.2829 69.463 34.051 69.3731C33.5911 69.1842 33.0753 69.1842 32.6154 69.3731C32.3836 69.463 32.1718 69.5978 31.9921 69.7698L28.2143 73.5476C27.8586 73.9033 27.6588 74.3857 27.6588 74.8887C27.6588 75.3917 27.8586 75.8741 28.2143 76.2298C28.57 76.5855 29.0524 76.7853 29.5554 76.7853C30.0585 76.7853 30.5409 76.5855 30.8966 76.2298L31.4443 75.6631V76.7776C31.4443 79.7834 32.6384 82.666 34.7638 84.7915C36.8892 86.9169 39.7719 88.1109 42.7777 88.1109H61.6666C62.1675 88.1109 62.648 87.9119 63.0022 87.5577C63.3564 87.2034 63.5554 86.723 63.5554 86.222C63.5554 85.7211 63.3564 85.2406 63.0022 84.8864C62.648 84.5321 62.1675 84.3331 61.6666 84.3331Z' fill='white'/%3E%3Cpath d='M46.5556 27.6667H69.2222C71.2261 27.6667 73.1479 28.4627 74.5648 29.8797C75.9818 31.2966 76.7778 33.2184 76.7778 35.2222V36.3367L76.23 35.77C75.8743 35.4143 75.3919 35.2145 74.8889 35.2145C74.3859 35.2145 73.9035 35.4143 73.5478 35.77C73.1921 36.1257 72.9923 36.6081 72.9923 37.1111C72.9923 37.6142 73.1921 38.0966 73.5478 38.4522L77.3256 42.23C77.5052 42.402 77.717 42.5368 77.9489 42.6267C78.175 42.7266 78.4195 42.7782 78.6667 42.7782C78.9139 42.7782 79.1583 42.7266 79.3844 42.6267C79.6163 42.5368 79.8281 42.402 80.0078 42.23L83.7856 38.4522C84.1412 38.0966 84.3411 37.6142 84.3411 37.1111C84.3411 36.6081 84.1412 36.1257 83.7856 35.77C83.4299 35.4143 82.9475 35.2145 82.4445 35.2145C81.9414 35.2145 81.459 35.4143 81.1033 35.77L80.5556 36.3367V35.2222C80.5556 32.2165 79.3615 29.3338 77.2361 27.2084C75.1107 25.083 72.228 23.8889 69.2222 23.8889H46.5556C46.0546 23.8889 45.5741 24.0879 45.2199 24.4422C44.8657 24.7964 44.6667 25.2768 44.6667 25.7778C44.6667 26.2788 44.8657 26.7592 45.2199 27.1135C45.5741 27.4677 46.0546 27.6667 46.5556 27.6667Z' fill='white'/%3E%3C/svg%3E");
            }
          }
          &.customization-item {
            &:after{
                content: '';
                position: absolute;
                right: -100px;
                width: 1px;
                height: 65%;
                bottom: 0;
                background: rgba(1, 65, 126, 0.1);
  
            }
            i {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='112' viewBox='0 0 112 112' fill='none'%3E%3Ccircle cx='56' cy='56' r='56' fill='%2329BCD0'/%3E%3Cpath d='M88.3 34.8H62.8C62.8 32.9965 62.0836 31.2669 60.8083 29.9917C59.5331 28.7164 57.8035 28 56 28C54.1965 28 52.4669 28.7164 51.1917 29.9917C49.9164 31.2669 49.2 32.9965 49.2 34.8H23.7C23.2491 34.8 22.8167 34.9791 22.4979 35.2979C22.1791 35.6167 22 36.0491 22 36.5V80.7C22 81.1509 22.1791 81.5833 22.4979 81.9021C22.8167 82.2209 23.2491 82.4 23.7 82.4H88.3C88.7509 82.4 89.1833 82.2209 89.5021 81.9021C89.8209 81.5833 90 81.1509 90 80.7V36.5C90 36.0491 89.8209 35.6167 89.5021 35.2979C89.1833 34.9791 88.7509 34.8 88.3 34.8ZM52.6 34.8C52.6 33.8983 52.9582 33.0335 53.5958 32.3958C54.2335 31.7582 55.0983 31.4 56 31.4C56.9017 31.4 57.7665 31.7582 58.4042 32.3958C59.0418 33.0335 59.4 33.8983 59.4 34.8V38.2C59.4 39.1017 59.0418 39.9665 58.4042 40.6042C57.7665 41.2418 56.9017 41.6 56 41.6C55.0983 41.6 54.2335 41.2418 53.5958 40.6042C52.9582 39.9665 52.6 39.1017 52.6 38.2V34.8ZM86.6 79H25.4V38.2H49.2C49.2 40.0035 49.9164 41.7331 51.1917 43.0083C52.4669 44.2836 54.1965 45 56 45C57.8035 45 59.5331 44.2836 60.8083 43.0083C62.0836 41.7331 62.8 40.0035 62.8 38.2H86.6V79Z' fill='white'/%3E%3Cpath d='M44.1002 45C40.5451 44.9954 37.0995 46.2288 34.355 48.4885C31.6105 50.7481 29.7386 53.8929 29.0608 57.3827C28.3829 60.8725 28.9415 64.4894 30.6405 67.6122C32.3395 70.7349 35.0729 73.1686 38.3712 74.495C42.0544 75.9679 46.1629 75.9679 49.8461 74.495C53.1458 73.168 55.8801 70.733 57.5789 67.6085C59.2778 64.484 59.8351 60.8652 59.155 57.3744C58.4749 53.8835 56.6 50.7386 53.8525 48.4803C51.105 46.222 47.6566 44.9914 44.1002 45ZM47.5002 71.707C47.0547 71.8375 46.6001 71.9341 46.1402 71.996H45.5792C45.2465 72.0412 44.9117 72.0696 44.5762 72.081H43.7262C43.415 72.1057 43.1023 72.1057 42.7911 72.081H42.1452C41.79 72.0198 41.4382 71.9403 41.0911 71.843H40.7681V68.8C40.7681 67.8983 41.1264 67.0335 41.764 66.3959C42.4016 65.7583 43.2664 65.4 44.1682 65.4C45.0699 65.4 45.9347 65.7583 46.5723 66.3959C47.2099 67.0335 47.5682 67.8983 47.5682 68.8L47.5002 71.707ZM50.9002 70.007V68.8C50.9002 66.9966 50.1837 65.267 48.9085 63.9917C47.6332 62.7165 45.9036 62 44.1002 62C42.2967 62 40.5671 62.7165 39.2918 63.9917C38.0166 65.267 37.3001 66.9966 37.3001 68.8V70.024C35.2211 68.5764 33.6583 66.5029 32.8392 64.1056C32.0202 61.7082 31.9876 59.1119 32.7462 56.6948C33.5049 54.2776 35.0152 52.1656 37.0573 50.6662C39.0994 49.1668 41.5667 48.3583 44.1002 48.3583C46.6336 48.3583 49.1009 49.1668 51.143 50.6662C53.1851 52.1656 54.6954 54.2776 55.4541 56.6948C56.2127 59.1119 56.1801 61.7082 55.3611 64.1056C54.542 66.5029 52.9792 68.5764 50.9002 70.024V70.007Z' fill='white'/%3E%3Cpath d='M49.2 56.9001V55.2001C49.2 53.8475 48.6627 52.5503 47.7062 51.5939C46.7498 50.6374 45.4526 50.1001 44.1 50.1001C42.7474 50.1001 41.4502 50.6374 40.4938 51.5939C39.5373 52.5503 39 53.8475 39 55.2001V56.9001C39 58.2527 39.5373 59.5499 40.4938 60.5063C41.4502 61.4628 42.7474 62.0001 44.1 62.0001C45.4526 62.0001 46.7498 61.4628 47.7062 60.5063C48.6627 59.5499 49.2 58.2527 49.2 56.9001ZM45.8 56.9001C45.8 57.351 45.6209 57.7834 45.3021 58.1022C44.9833 58.421 44.5509 58.6001 44.1 58.6001C43.6491 58.6001 43.2167 58.421 42.8979 58.1022C42.5791 57.7834 42.4 57.351 42.4 56.9001V55.2001C42.4 54.7492 42.5791 54.3168 42.8979 53.998C43.2167 53.6792 43.6491 53.5001 44.1 53.5001C44.5509 53.5001 44.9833 53.6792 45.3021 53.998C45.6209 54.3168 45.8 54.7492 45.8 55.2001V56.9001Z' fill='white'/%3E%3Cpath d='M61.1001 50.0999V58.5999C61.1001 59.0508 61.2792 59.4832 61.598 59.802C61.9168 60.1208 62.3492 60.2999 62.8001 60.2999H81.5001C81.951 60.2999 82.3834 60.1208 82.7022 59.802C83.021 59.4832 83.2001 59.0508 83.2001 58.5999V50.0999C83.2001 49.649 83.021 49.2166 82.7022 48.8978C82.3834 48.579 81.951 48.3999 81.5001 48.3999H62.8001C62.3492 48.3999 61.9168 48.579 61.598 48.8978C61.2792 49.2166 61.1001 49.649 61.1001 50.0999ZM64.5001 51.7999H79.8001V56.8999H64.5001V51.7999Z' fill='white'/%3E%3Cpath d='M81.5001 63.7002H62.8001C62.3492 63.7002 61.9168 63.8793 61.598 64.1981C61.2792 64.5169 61.1001 64.9493 61.1001 65.4002C61.1001 65.851 61.2792 66.2834 61.598 66.6022C61.9168 66.9211 62.3492 67.1002 62.8001 67.1002H81.5001C81.951 67.1002 82.3834 66.9211 82.7022 66.6022C83.021 66.2834 83.2001 65.851 83.2001 65.4002C83.2001 64.9493 83.021 64.5169 82.7022 64.1981C82.3834 63.8793 81.951 63.7002 81.5001 63.7002Z' fill='white'/%3E%3Cpath d='M81.5001 70.5H62.8001C62.3492 70.5 61.9168 70.6791 61.598 70.9979C61.2792 71.3167 61.1001 71.7491 61.1001 72.2C61.1001 72.6509 61.2792 73.0833 61.598 73.4021C61.9168 73.7209 62.3492 73.9 62.8001 73.9H81.5001C81.951 73.9 82.3834 73.7209 82.7022 73.4021C83.021 73.0833 83.2001 72.6509 83.2001 72.2C83.2001 71.7491 83.021 71.3167 82.7022 70.9979C82.3834 70.6791 81.951 70.5 81.5001 70.5Z' fill='white'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }
  .prevent-fraud-section {
    .content-wrapper {
      display: inline-block;
      width: 100%;
      background: #ffffff;
      max-height: 590px;
      box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.05);
      @media screen and (max-width: 767px) {
        max-height: 100%;
      }
      .prevent-fraud-left-content {
        position: relative;
        width: 50%;
        float: left;
        @media screen and (max-width: 767px) {
            width: 100%;
            float: unset;
          }
        img {
          width: 100%;
          height: 100%;
          max-height: 590px;
        }
      }
      .prevent-fraud-right-content {
        position: relative;
        width: 50%;
        padding: 91px 117px 0 32px;
        float: left;
        @media screen and (max-width: 767px) {
            width: 100%;
            float: unset;
            padding-right: 15px;
          }
        h3 {
          margin-bottom: 30px;
          color: $lightBlueColor;
          letter-spacing: 0.5px;
          line-height: 62.4px;
          font: {
            size: 48px;
            weight: 600;
          }
        }
        p {
          margin-bottom: 20px;
          color: $blackColor;
          letter-spacing: 0.5px;
          line-height: 20.8px;
          font: {
            size: 16px;
            weight: 400;
          }
        }
        span {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          letter-spacing: 0.5px;
          line-height: 20.8px;
          color: $mainTextColor;
          font: {
            size: 16px;
            weight: 700;
          }
        }
        ul {
          padding-left: 80px;
          list-style: none;
          li {
            position: relative;
            padding-bottom: 15px;
            color: $mainTextColor;
            letter-spacing: 0.5px;
            line-height: 20.8px;
            font: {
              size: 16px;
              weight: 500;
            }
            &:before {
              content: "";
              position: absolute;
              top: 6px;
              left: -50px;
              width: 19px;
              height: 10px;
              background-image: url("../images/arrow-blue.png");
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
  .benefits-acquapay-section {
    padding-top: 130px;
    padding-bottom: 130px;
    @media screen and (max-width: 767px) {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    .benefits-introduction {
      h3 {
        margin-bottom: 60px;
        color: $lightBlueColor;
        letter-spacing: 0.5px;
        text-align: center;
        font: {
          size: 31px;
          weight: 700;
        }
      }
      .row {
        padding: 25px 0;
        .benefit-wrapper {
          display: flex;
          .benefit-text-wrapper {
            margin-left: 35px;
            h6{
              color: $mainTextColor;
              letter-spacing: 0.5px;
              font: {
                size: 25px;
                weight: 500;
              };
            }
            p{
              color: $mainTextColor;
              letter-spacing: 0.5px;
              line-height: 20.8px;
              font: {
                size: 16px;
                weight: 400;
              };
            }
          }
        }
      }
    }
    .dedicated-risk-wrapper {
      margin-top: 130px;
      @media screen and (max-width: 767px) {
        margin-top: 35px;
      }
      .dedicated-risk-left-content {
        .content-wrapper {
          background: $lightBlueColor;
          height: 290px;
          padding: 20px 30px;
          cursor: default;
          h3 {
            color: $whiteColor;
            max-width: 382px;
            line-height: 62.4px;
            letter-spacing: 0.5px;
            @media screen and (max-width: 767px) {
                font-size: 32px;
                line-height: 50px;
              }
            font: {
              size: 48px;
              weight: 600;
            }
          }
        }
      }
      .dedicated-risk-right-content {
        padding: 15px 40px;
        h4 {
          margin-bottom: 25px;
          color: $darkBlueColor;
          letter-spacing: 0.5px;
          font: {
            size: 20px;
            weight: 600;
          }
        }
        ul {
          padding-left: 80px;
          list-style: none;
          li {
            position: relative;
            padding-bottom: 15px;
            color: $blackColor;
            line-height: 20.8px;
            font: {
              size: 16px;
              weight: 400;
            }
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: -50px;
              width: 17px;
              height: 17px;
              background-image: url("../images/circle-tick.png");
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
  .e-wallet-section {
    margin-bottom: 130px;
    .content-wrapper {
      display: inline-block;
      max-height: 460px;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.05);
      @media screen and (max-width: 767px) {
        max-height: auto;
      }
      .e-wallet-left-content {
        width: 50%;
        float: left;
        padding: 50px 70px 0 100px;
        @media screen and (max-width: 767px) {
          width: 100%;
          float: unset;
          padding: 35px 15px;
        }
        h4 {
          margin-bottom: 40px;
          color: $lightBlueColor;
          letter-spacing: 0.5px;
          font: {
            size: 31px;
            weight: 700;
          }
        }
        p {
          margin-bottom: 40px;
          color: $blackColor;
          letter-spacing: 0.5px;
          font: {
            size: 16px;
            weight: 400;
          }
        }
        ul {
          padding-left: 80px;
          list-style: none;
          padding-left: 75px;
          li {
            position: relative;
            color: $mainTextColor;
            letter-spacing: 0.5px;
            font: {
              size: 20px;
              weight: 600;
            }
            &:before {
              content: "";
              position: absolute;
              top: 11px;
              left: -50px;
              width: 19px;
              height: 10px;
              background-image: url("../images/arrow-blue.png");
              background-repeat: no-repeat;
            }
          }
        }
      }
      .e-wallet-right-content {
        width: 50%;
        float: left;
        @media screen and (max-width: 767px) {
          width: 100%;
          float: unset;
        }
        img {
          width: 100%;
          max-height: 460px;
          height: auto;
          object-fit: cover;
          object-position: top;
          @media screen and (max-width: 1199px) and (min-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .services-section {
    padding-bottom: 130px;
    @media screen and (max-width: 767px) {
        padding-bottom: 35px;
      }
    .service-introduction {
      margin-bottom: 47px;
      h2 {
        margin-bottom: 30px;
        color: $lightBlueColor;
        letter-spacing: 0.5px;
        text-align: center;
        cursor: default;
        font: {
          size: 31px;
          weight: 700;
        }
      }
      p {
        color: $mainTextColor;
        letter-spacing: 0.5px;
        text-align: center;
        line-height: 26px;
        cursor: default;
        font: {
          size: 20px;
          weight: 500;
        }
      }
    }
    .service-item {
      h6 {
        color: $mainTextColor;
        line-height: 26px;
        letter-spacing: 0.5px;
        cursor: default;
        font: {
          size: 20px;
          weight: 600;
        }
        @media screen and (max-width: 767px) {
            text-align: center;
          }
      }
      p {
        color: $mainTextColor;
        line-height: 20.8px;
        letter-spacing: 0.5px;
        cursor: default;
        font: {
          size: 16px;
          weight: 400;
        }
        @media screen and (max-width: 767px) {
            text-align: center;
          }
      }
    }
  }
  .team-section {
    padding-bottom: 65px;
    .team-introduction {
      margin-bottom: 40px;
      h5 {
        margin-bottom: 15px;
        color: $lightBlueColor;
        text-align: center;
        font: {
          size: 31px;
          weight: 700;
        }
      }
      p {
        color: $mainTextColor;
        text-align: center;
        font: {
          size: 16px;
          weight: 400;
        }
      }
    }
    .team-row {
      .team-item {
        padding-bottom: 55px;
        a{
          text-decoration: none;
        }
        img {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }
        .team-description {
          h6 {
            margin-bottom: 10px;
            color: $darkBlueColor;
            text-align: center;
            letter-spacing: 0.5px;
            text-decoration: none;
            font: {
              size: 16px;
              weight: 600;
            }
          }
          span {
            display: block;
            width: 100%;
            color: $mainTextColor;
            text-align: center;
            letter-spacing: 0.5px;
            text-decoration: none;
            font: {
              size: 16px;
              weight: 400;
            }
          }
        }
      }
    }
  }
  .main-footer {
    background: linear-gradient(0deg, #1c1c6d 0%, #29bcd0 100%);
    padding: 97px 0 0 0;
    .footer-top {
      .footer-top-left-wrapper {
        h2 {
          margin-bottom: 30px;
          color: $whiteColor;
          cursor: default;
          font: {
            size: 31px;
            weight: 700;
          }
        }
        .footer-description {
          margin-bottom: 40px;
          color: $whiteColor;
          cursor: default;
          font: {
            size: 16px;
            weight: 400;
          }
        }
        .footer-contact-number {
          color: $whiteColor;
          cursor: default;
          font: {
            size: 25px;
            weight: 500;
          }
        }
      }
      .footer-top-right-wrapper {
        display: flex;
        flex-flow: column;
        .input-field-wrapper {
          display: flex;
          justify-content: space-between;
          .name-input {
            width: 30%;
            height: 60px;
            padding: 15px;
            border: 1px solid #c4c4c4;
            margin-right: 10%;
            color: $mainTextColor;
            outline: 0;
            font: {
              size: 16px;
              weight: 400;
            }
            &::placeholder {
              color: $mainTextColor;
              font: {
                size: 16px;
                weight: 400;
              }
            }
          }
          .email-input {
            width: 60%;
            height: 60px;
            padding: 15px;
            border: 1px solid #c4c4c4;
            color: $mainTextColor;
            outline: 0;
            font: {
              size: 16px;
              weight: 400;
            }
            &::placeholder {
              color: $mainTextColor;
              font: {
                size: 16px;
                weight: 400;
              }
            }
          }
        }
        textarea {
          width: 100%;
          height: 210px;
          margin-top: 30px;
          margin-bottom: 40px;
          padding: 15px;
          border: 1px solid #c4c4c4;
          color: $mainTextColor;
          outline: 0;
          font: {
            size: 16px;
            weight: 400;
          }
          &::placeholder {
            color: $mainTextColor;
            font: {
              size: 16px;
              weight: 400;
            }
          }
        }
        .send-btn-footer {
          display: block;
          width: 176px;
          height: 50px;
          margin-bottom: 70px;
          border: 1.5px solid $whiteColor;
          color: $whiteColor;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 50px;
          cursor: pointer;
          font: {
            size: 15px;
            weight: 700;
          }
          @media screen and (max-width: 767px) {
            margin: 0 auto 70px;
          }
          &:hover {
            background: $whiteColor;
            color: $darkBlueColor;
          }
        }
      }
    }
    .footer-bottom {
      height: 60px;
      @media screen and (max-width: 767px) {
        height: 70px;
      }
      background: $darkBlueColor;
      .footer-links-wrapper {
        display: flex;
        width: 80%;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            width: 100%;
            flex-flow: column;
          }
        .footer-logo {
          max-width: 120px;
          cursor: pointer;
          i {
            margin-top: 10px;
            display: inline-block;
            width: 116px;
            height: 19px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='116' height='19' viewBox='0 0 116 19' fill='none'%3E%3Cpath d='M8.6 11.9C8.1 12.5 7.5 13 6.9 13.3C6.3 13.7 5.4 13.8 4.4 13.8C3.8 13.8 3.3 13.7 2.7 13.6C2.2 13.5 1.7 13.2 1.3 12.9C0.9 12.6 0.6 12.2 0.4 11.7C0.2 11.2 0 10.6 0 9.9C0 9 0.2 8.3 0.6 7.7C1 7.1 1.5 6.7 2.2 6.4C2.9 6.1 3.6 5.9 4.4 5.7C5.2 5.6 6 5.5 6.9 5.5L8.6 5.4V4.7C8.6 3.9 8.4 3.4 7.9 3C7.5 2.7 6.9 2.6 6.3 2.6C4.9 2.6 4.1 3.1 3.9 4.2L0.7 3.9C0.9 2.5 1.5 1.5 2.5 0.9C3.5 0.3 4.8 0 6.4 0C7.4 0 8.2 0.0999996 8.9 0.4C9.6 0.6 10.2 1 10.6 1.4C11 1.8 11.3 2.4 11.5 3C11.7 3.6 11.8 4.4 11.8 5.2V13.5H8.6V11.9ZM8.5 7.7L6.9 7.8C6.2 7.8 5.6 7.9 5.1 8C4.6 8.1 4.3 8.3 4.1 8.4C3.9 8.6 3.7 8.8 3.6 9C3.5 9.2 3.5 9.5 3.5 9.8C3.5 10.2 3.7 10.6 4 10.8C4.3 11 4.7 11.2 5.2 11.2C6.1 11.2 6.8 11 7.4 10.6C7.7 10.4 8 10.1 8.2 9.7C8.4 9.3 8.5 8.9 8.5 8.4V7.7Z' fill='%2329BCD0'/%3E%3Cpath d='M26.6 8.8001C26.5 10.4001 25.9 11.6001 25 12.5001C24.1 13.4001 22.6 13.9001 20.8 13.9001C19.7 13.9001 18.8 13.7001 18 13.4001C17.2 13.1001 16.5 12.6001 16 12.0001C15.5 11.4001 15.1 10.7001 14.9 9.8001C14.7 8.9001 14.5 8.0001 14.5 7.0001C14.5 6.0001 14.6 5.0001 14.9 4.2001C15.2 3.3001 15.6 2.6001 16.2 2.0001C16.8 1.4001 17.4 0.900098 18.2 0.600098C19 0.300098 19.9 0.100098 21 0.100098C21.9 0.100098 22.7 0.200097 23.3 0.400097C24 0.600097 24.5 0.900097 25 1.3001C25.5 1.7001 25.8 2.2001 26 2.7001C26.2 3.2001 26.4 3.9001 26.5 4.5001L23 5.0001C22.9 4.3001 22.7 3.8001 22.4 3.4001C22.1 3.0001 21.6 2.8001 20.9 2.8001C20.4 2.8001 19.9 2.9001 19.6 3.1001C19.2 3.3001 19 3.6001 18.8 4.0001C18.6 4.4001 18.4 4.8001 18.4 5.3001C18.3 5.8001 18.3 6.3001 18.3 6.8001C18.3 7.3001 18.3 7.9001 18.4 8.4001C18.5 8.9001 18.6 9.3001 18.8 9.7001C19 10.1001 19.3 10.4001 19.6 10.6001C20 10.8001 20.4 10.9001 20.9 10.9001C21.6 10.9001 22.1 10.7001 22.5 10.3001C22.9 9.9001 23.1 9.3001 23.2 8.6001H26.6V8.8001Z' fill='%2329BCD0'/%3E%3Cpath d='M38.1 11.9C37.7 12.6 37.1 13.1 36.3 13.4C35.6 13.7 34.9 13.9 34.1 13.9C32.2 13.9 30.9 13.3 30 12C29.1 10.8 28.6 9.1 28.6 6.9C28.6 5.9 28.7 5 29 4.1C29.3 3.3 29.6 2.5 30.1 1.9C30.6 1.3 31.2 0.8 31.9 0.5C32.6 0.2 33.4 0 34.3 0C35 0 35.7 0.0999996 36.3 0.4C37 0.7 37.6 1.2 38.1 1.9V0.4H41.5V18.3H38V11.9H38.1ZM38.1 6.8C38.1 6 38 5.3 37.9 4.8C37.8 4.3 37.5 3.9 37.2 3.6C36.9 3.3 36.6 3.1 36.2 3C35.8 2.9 35.5 2.9 35.1 2.9C34.7 2.9 34.4 3 34 3.1C33.7 3.3 33.4 3.5 33.1 3.8C32.8 4.1 32.6 4.5 32.5 5.1C32.3 5.6 32.3 6.2 32.3 7C32.3 7.8 32.4 8.4 32.5 9C32.6 9.5 32.8 10 33.1 10.3C33.4 10.6 33.6 10.9 34 11C34.3 11.1 34.7 11.2 35.1 11.2C35.9 11.2 36.6 11 37.2 10.5C37.5 10.2 37.8 9.8 37.9 9.3C38.1 8.8 38.1 8.2 38.1 7.5V6.8Z' fill='%2329BCD0'/%3E%3Cpath d='M44.5 0.5H48V8.6C48 9.5 48.2 10.2 48.5 10.5C48.8 10.8 49.3 11 49.9 11C50.4 11 50.7 10.9 51 10.8C51.3 10.7 51.6 10.5 51.8 10.2C52.1 10 52.3 9.7 52.4 9.4C52.5 9.1 52.6 8.7 52.6 8.3V0.5H56.1V13.5H52.7V11.7C52.2 12.5 51.6 13 50.9 13.4C50.2 13.7 49.5 13.9 48.7 13.9C47.2 13.9 46.1 13.5 45.4 12.7C44.7 11.9 44.3 10.7 44.3 9V0.5H44.5Z' fill='%2329BCD0'/%3E%3Cpath d='M67.1 11.9C66.6 12.5 66 13 65.4 13.3C64.8 13.7 63.9 13.8 62.9 13.8C62.3 13.8 61.8 13.7 61.2 13.6C60.7 13.5 60.2 13.2 59.8 12.9C59.4 12.6 59.1 12.2 58.9 11.7C58.7 11.2 58.6 10.6 58.6 9.9C58.6 9 58.8 8.3 59.2 7.7C59.6 7.1 60.1 6.7 60.8 6.4C61.5 6.1 62.2 5.9 63 5.7C63.8 5.6 64.6 5.5 65.5 5.5L67.2 5.4V4.7C67.2 3.9 67 3.4 66.5 3C66.1 2.7 65.5 2.6 64.9 2.6C63.5 2.6 62.7 3.1 62.5 4.2L59.3 3.9C59.5 2.5 60.1 1.5 61.1 0.9C62.1 0.3 63.4 0 65 0C66 0 66.9 0.0999996 67.6 0.4C68.3 0.6 68.9 1 69.3 1.4C69.7 1.9 70 2.4 70.2 3C70.4 3.6 70.5 4.4 70.5 5.2V13.5H67.2V11.9H67.1ZM67 7.7L65.5 7.8C64.8 7.8 64.2 7.9 63.7 8C63.3 8.1 62.9 8.3 62.7 8.4C62.5 8.6 62.3 8.8 62.2 9C62.1 9.2 62.1 9.5 62.1 9.8C62.1 10.2 62.2 10.6 62.6 10.8C62.9 11 63.3 11.2 63.8 11.2C64.7 11.2 65.4 11 66 10.6C66.3 10.4 66.6 10.1 66.8 9.7C67 9.3 67.1 8.9 67.1 8.4V7.7H67Z' fill='%2329BCD0'/%3E%3Cpath d='M73.4 0.500097H76.8V2.2001C77.8 0.800097 79.2 0.100098 80.9 0.100098C82.7 0.100098 84.1 0.700097 85 2.0001C85.9 3.2001 86.3 4.9001 86.3 7.1001C86.3 8.1001 86.2 9.1001 85.9 9.9001C85.6 10.8001 85.3 11.5001 84.8 12.1001C84.3 12.7001 83.7 13.2001 83 13.5001C82.3 13.8001 81.5 14.0001 80.6 14.0001C79.9 14.0001 79.3 13.9001 78.7 13.7001C78.1 13.5001 77.5 13.0001 76.9 12.3001V18.5001H73.4V0.500097ZM76.8 7.1001C76.8 8.0001 76.9 8.6001 77 9.1001C77.1 9.6001 77.4 10.0001 77.7 10.3001C78 10.6001 78.4 10.8001 78.7 10.9001C79 11.0001 79.4 11.0001 79.7 11.0001C80.1 11.0001 80.5 10.9001 80.8 10.8001C81.1 10.6001 81.5 10.4001 81.7 10.1001C82 9.8001 82.2 9.4001 82.3 8.8001C82.5 8.3001 82.5 7.7001 82.5 6.9001C82.5 6.1001 82.4 5.5001 82.3 5.0001C82.2 4.5001 82 4.1001 81.7 3.7001C81.4 3.3001 81.2 3.1001 80.8 3.0001C80.5 2.9001 80.1 2.8001 79.7 2.8001C79.3 2.8001 78.9 2.9001 78.6 3.0001C78.3 3.1001 78 3.3001 77.7 3.6001C77.4 3.9001 77.1 4.3001 77 4.8001C76.8 5.3001 76.8 5.9001 76.8 6.7001V7.1001Z' fill='white'/%3E%3Cpath d='M96.7 11.9C96.2 12.5 95.6 13 95 13.3C94.4 13.7 93.5 13.8 92.5 13.8C91.9 13.8 91.4 13.7 90.8 13.6C90.3 13.5 89.8 13.2 89.4 12.9C89 12.6 88.7 12.2 88.5 11.7C88.3 11.2 88.1 10.6 88.1 9.9C88.1 9 88.3 8.3 88.7 7.7C89.1 7.1 89.6 6.7 90.3 6.4C91 6.1 91.7 5.9 92.5 5.7C93.3 5.6 94.1 5.5 95 5.5L96.7 5.4V4.7C96.7 3.9 96.5 3.4 96 3C95.6 2.7 95 2.6 94.4 2.6C93 2.6 92.2 3.1 92 4.2L88.8 3.9C89 2.5 89.6 1.5 90.6 0.9C91.6 0.3 92.9 0 94.5 0C95.5 0 96.3 0.0999996 97 0.4C97.7 0.6 98.3 1 98.7 1.4C99.1 1.8 99.4 2.4 99.6 3C99.8 3.6 99.9 4.4 99.9 5.2V13.5H96.6V11.9H96.7ZM96.6 7.7L95 7.8C94.3 7.8 93.7 7.9 93.2 8C92.7 8.1 92.4 8.3 92.2 8.4C92 8.6 91.8 8.8 91.7 9C91.6 9.2 91.6 9.5 91.6 9.8C91.6 10.2 91.8 10.6 92.1 10.8C92.4 11 92.8 11.2 93.3 11.2C94.2 11.2 94.9 11 95.5 10.6C95.8 10.4 96.1 10.1 96.3 9.7C96.5 9.3 96.6 8.9 96.6 8.4V7.7Z' fill='white'/%3E%3Cpath d='M103.3 15.4C103.8 15.5 104.3 15.6 104.8 15.6C105.3 15.6 105.6 15.5 105.9 15.3C106.2 15.1 106.4 14.7 106.6 14.1L107 13L101.6 0.5H105.6L108.6 9.1L111.4 0.5H115.2L109.9 13.9C109.6 14.7 109.3 15.3 109 15.9C108.7 16.5 108.4 16.9 108.1 17.3C107.8 17.7 107.3 18 106.9 18.1C106.4 18.3 105.8 18.4 105.1 18.4C104.7 18.4 104.2 18.4 103.8 18.3C103.4 18.2 102.9 18.1 102.5 18L103.3 15.4Z' fill='white'/%3E%3C/svg%3E");
          }
        }
        .inner-footer{
            display: flex;
    width: 70%;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        width: 100%;
      }
            .footer-item {
                color: $whiteColor;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                font: {
                  size: 12px;
                  weight: 400;
                }
              }
        }
        
      }
    }
  }
}
